version: '3.9'

services:
  postgres:
    image: postgres:17.4
    container_name: db_ecommerce
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5556:5432"
    volumes:
      - ./data:/var/lib/postgresql/data